<ul>
  <li *ngFor="let item of messageList">
    <p style="color: green" *ngIf="item.message_side === 'sender'">
      Vous dites :
      {{ item.message }}
    </p>
    <p style="color: red" *ngIf="item.message_side === 'receiver'">
      On vous répond :
      {{ item.message }}
    </p>
  </li>
</ul>
<div>
  <div>
    <input
      placeholder="Message..."
      [(ngModel)]="messageInput"
      (keyup.enter)="sendMessage()"
    />
  </div>
  <button class="btn btn-success" (click)="sendMessage()">Envoyer</button>
</div>
